In [1]:
import xarray as xr

In [2]:
ds=xr.tutorial.open_dataset('air_temperature', chunks={'lat':25, 'lon':25,'time':-1})

In [6]:
ds.air.data.max()

dask.array<amax-aggregate, shape=(), dtype=float32, chunksize=(), chunktype=numpy.ndarray>